__pycache__/geometry.cpython-314.pyc
core/__pycache__/__init__.cpython-314.pyc
core/__pycache__/console.cpython-314.pyc
core/__pycache__/graph.cpython-314.pyc
core/__pycache__/metrics.cpython-314.pyc
core/__pycache__/simulation.cpython-314.pyc
core/__pycache__/coords.cpython-314.pyc
